/* login.css */

.login-container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: left;

  }

  .title{
    background-color: #AA7475;
    width: 150px;
    height: 5px;
    margin: 20px auto;
    padding: 20px;
    text-align: center  ;
  }

  .login{
    width: 600px;
    height: 350px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #AA7475;
    text-align: center;
  }

  .login-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 280px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #E7C7C8;
  }
  
  .login-form button {
    width: 200px;
    height: 30px;
    padding: 10px;
    background-color: #644444;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .login-form button:hover {
    background-color: #8a5858;
  }  

