.body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}
.empleado{
    width: 100%;
    height: 20px;
    text-align: center;
    color: #2C7636;
    margin-top: 20px;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table {
    width: 100%; 
    border-collapse: collapse; 
    color: white;
}

td {
    border: 1px solid #2B9543 ;
    padding: 8px; 
    text-align: left; 
    background-color: #2B9543;
}

th {
    background-color: #2C7636;
    text-align: center;
    padding: 8px;
    
}

.global{
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #4BCE5C;
}

.contenedorbot{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding-left: 10px;
}
.boton{
    width: 100px;
    height: 35px;
    margin-top: 20px;
    background-color: #2C7636;
    font-size: medium;
    padding-left: 9px;
    margin-bottom: 10px;
}
.botones{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: end;
}

.boton1{
    background-color: #647759 ;
    color: white;
    font-weight: bold;
    width: 90px;
    margin-left: 45px;
}

.boton2{
    background-color: #BF9D69;
    color: white;
    font-weight: bold;
    width: 100px;
    margin-left: 45px;
}

.boton3{
    background-color: #BE4C4C;
    color: white;
    font-weight: bold;
    width: 90px;
    margin-left: 45px;
}

.boton4{
    background-color: #644444;
    color: white;
    font-weight: bold;
    width: 90px;
    margin-left: 45px;
    margin-right: 20px;
}

button{
    transform: scale(120%);
    height: 22px;
}

.boton1:hover {
    background-color: #7a8f6f ;
}

.boton2:hover{
    background-color: #e6b46a ;
}

.boton3:hover{
    background-color: #dd5454;
}

.boton4:hover{
    background-color: #7c5454;
}

.globalempleado{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
    padding: 5px;
    background-color: #43A34D;
    border-radius: 5%;
}

.contenedorempleado{
    height: auto;
    width: 100%;
    margin-bottom: 50px;
}
.contenedorempleado2{
    height: auto;
    width: 100%;
}
.contenedorempleado3{
    height: auto;
    width: 100%;
}
.subcontenedorempleado{
    justify-content: center;
    display: flex;
    margin:25px;
    height: 35px;
    margin-top: 75px;
}

span {
    color: white;
    width: 150px;
    text-align: center;
}
.p-inputgroup-addon{
    background-color:#2C7636;
    height: 40px;
}

.input{
    height: 40px;
    background-color: #ABEAB3;
}