.estatico {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 5rem;
    margin: auto;
    top: -1px;
}

.sidebar{
    position: fixed;
    margin-right: 3px;
    left: 0;
    top: 600rem;
    height: calc(100vh - 9rem);
    display: flex;
    padding: 0;
}

@media (min-width: 768px) {
    .sidebar-container {
        display: block;
    }
}
