.body{
    margin: 0px;
    padding: 0px;
}
.head{
background-color: #AE8E8E;
width: 100%;
height: 50px;
color:#644444;
}

.icons{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.icons .icon{
    margin: 10px;
    color: #F1DCDD;
}

.subhead {
    background-color: #F1DCDD;
    padding: 10px;
}
/* Establece el contenedor ul como contenedor flexible */
.subhead nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
}
/* Añade espacio entre los elementos li */
.subhead nav ul li {
    margin-right: 15px; 
    margin-left: 10px;
    
}
/* Elimina el margen derecho del último elemento li */
.subhead nav ul li:last-child {
    margin-right: 0; 
}

.subhead nav ul li a {
    color: #644444;
    text-decoration: none;
    font-weight: bold;
}

.subhead nav ul li a:hover {
    text-decoration: underline;
}