.usuario{
    width: 100%;
    height: 20px;
    text-align: center;
    color: #644444;
    margin: 20px;
    font-weight: bold;
}

table {
    width: 100%; 
    border-collapse: collapse; 
    color: white;
}

td {
    border: 1px solid #644444 ;
    padding: 8px; 
    text-align: left; 
    background-color: #EFD3D3;
}

th {
    background-color: #644444;
    text-align: center;
    padding: 8px;
    
}

.global{
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #AA7475;
}

.botones{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    display: flex;
    margin-left: 829px;
    margin-right: 10px;
}

.boton1{
    background-color: #616A5C ;
    color: white;
    font-weight: bold;
}

.boton2{
    background-color: #BF9D69;
    color: white;
    font-weight: bold;
}

.boton3{
    background-color: #BE4C4C;
    color: white;
    font-weight: bold;
}

.boton4{
    background-color: #644444;
    color: white;
    font-weight: bold;
}

button{
    transform: scale(120%);
    height: 22px;
}

.boton1:hover {
    background-color: #7a8f6f ;
}

.boton2:hover{
    background-color: #e6b46a ;
}

.boton3:hover{
    background-color: #dd5454;
}

.boton4:hover{
    background-color: #7c5454;
}

.global2{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contenedor{
background-color: #AA7475;
height: auto;
}